
.headshot{
    width:30%;
    height:30%;
    margin-left:500px;
     border-radius: 40px;
    border:solid #d4af37;
   
}
.mid{
    color:#D4AF37;
    align-items:center;
    justify-content:space-between;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:10px solid grey;   
}

.aboutme{
 display:flex; 
 justify-content:center;
 align-items:center;

}
body{
 background-color:black;   
}

p{
 color:black;   
}

.footer{
 background-color:#D4AF37;
 color:white;
 font-size:20px;
 display:flex;
 justify-content:space-around;
}

.name{
 display:flex;
 justify-content:center;
}

.newtab{
 color:#D4AF37;
}

.navbar{
    display:flex;
    justify-content:space-around;
    width:100%;
    height:100px;
    font-size:30px;
    background-color:#D4AF37;
    
}

#body1{
   background: url("https://steamusercontent-a.akamaihd.net/ugc/102856003025507578/4408E753B8EDD57948FF94F04282FCEFEC888478/");
    background-size: 1400px 1400px;
    
}

#aboutmecontent{
 color:#D4AF37;
}

#contactbody{
 background:url("https://78.media.tumblr.com/8e06279879135cab81cd9f700754ad3f/tumblr_oc4rnyscI91rcfkrho1_r1_500.gif");
background-size:1400px 800px;

}

#porfoliobody{
background:url("https://thumbs.gfycat.com/GiantRawBobolink-size_restricted.gif");
background-size:1400px 1300px;
 
}

#aboutmebody{
background:url("https://theimmortalreaders.files.wordpress.com/2017/12/heart-explosion.gif?w=736");
background-size:1400px 800px;
}

.portfoliofont{
 font-size:20px;
 font-weight:bold;
}

.topic{
  font-size:40px;
 font-weight:bold;
}

#intro{
  font-size:50px;
 font-weight:bold;
}

#contact{
 color:#D4AF37;
}

.introc{
 font-size:50px;
 color:#D4AF37;
}

.myimg1{
 display:flex;
 justify-content:space-around;
}

.myimg2{
 display:flex;
 justify-content:space-around;
}

.img3{
 height:400px;
 width:250px;
  border-radius: 40px;
    border:solid #d4af37;
    margin-top:40px;
}

.img4{
 height:250px;
 width:400px;
  border-radius: 40px;
    border:solid #d4af37;
    margin-top:20px;
}
